#pattern  filter=crypt diff=crypt merge=crypt
terraform/keys/**/* filter=crypt diff=crypt merge=crypt
apps/server/.env.* filter=crypt diff=crypt merge=crypt
terraform.tfvars filter=crypt diff=crypt merge=crypt
